Header set X-XSS-Protection "1; mode=block"
Header set X-Content-Type-Options nosniff
Header always append X-Frame-Options SAMEORIGIN
Header set Pragma no-cache
Header set Cache-Control no-cache,no-store,must-revalidate
